* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
  /* Ширина контейнеру, ширина сайту типу */
  width: 1170px;
  /* Внутрішній відступ між цини червоними колонками типу, по 15px тому що зліва і зправа і в сумі 30px відступ короче */
  padding: 0px 15px;
  /* Це типу для центрування горизонтального ну типу відступ з обох боків рівний і ось */
  margin: 0 auto;
}

header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-position {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    margin-left: 92px;
}


.logo-header-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-list+.nav-list-item {
    margin-left: 55px;
}

/* Прописуємо властивості для всіх елементів списка неву */
.nav-list-item-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    margin-left: 55px;
}

/* Пропишемо ховер (при наведені зміну коліру текста) */
.nav-list-item-link:hover {
    color: #2196f3;
}

#about-us {
    background-color: #2F303A;
    height: 600px;
}

#contacts {
    background-image: linear-gradient(rgba(10, 114, 211, 0.8), rgba(173, 188, 9, 0.8)), url("./images/background-image.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
    margin-top: 108.5px;

}

#location {
    background-color: #2F303A;
    height: 650px;
    margin-top: 108.5px;

}

.heading {
    color: white;
    font-family: "Montserrat";
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
    text-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
    font-size: 50px;
}

.sub-heading {
    color: white;
    padding-top: 50px;
    font-weight: 700;
}

.contact-icon-item {
    height: 50px;
}

.contacts-list-item {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.contact-icon-item {
    padding-right: 20px;
}

.contact-phone {
    color: yellow;
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: 900;
}

.contacts-heading {
    color: white;
    font-family: "Montserrat";
    font-weight: 900;
    padding-top: 50px;
    text-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
    font-size: 60px;
}

.app-contact {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 20px;
}
.cards-section {
    background-image: url("./images/cardssection-bgc.jpg");
    background-size: cover;
    background-position: center;
    height: 704px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.cards-title {
    font-family: "Headland One";
    text-align: center;
    padding-top: 58px;
    padding-bottom: 45px;
    color: white;
    font-size: 50px;
    font-weight: 900;
    
}
.card-word {
    padding-top: 36px;
    text-align: center; 
    color: #141414;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    font-weight: 900;
    
}
.card-word-translate {
    text-align: center;
    color: #000;  
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    padding-top: 40px;
    font-weight: 600;
       
}
.card-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 40px;
    height: 250px;
    width: 373.33px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
}
.card-set > .card-item {
    flex-basis: calc(100% / 2 - 36px);
    background: rgba(255, 255, 255, 0.70);
    width: 600px;
    height: 400px;
    margin-left: 36px;
    margin-top: 24px;
}
.store-section {
    background-color: #2F303A;
    height: 1080.7px;
    margin-top: 108.5px;
}
.loc {
    display: flex;
    align-items: center;
    
}
.map {
    padding-top: 80.7px;
    
}
.address {
    padding-left: 150px;
    font-family: "Montserrat";
    font-weight: 700;
    color: white;
    font-size: 20px;
}
.footer-position {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer {
    padding-top: 24px;
    padding-bottom: 25px;
    
}


.adaptive {
    
    height: 100%;
    /* margin: auto; */
    display: grid;
}
@media (max-width: 1200px) {
    .adaptive {
        width: 1000px;
    }
}

@media (max-width: 1000px) {
    .adaptive {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .adaptive {
        width: 480px;
    }
}

@media (max-width: 480px) {
    .adaptive {
        width: 100%;
    }
}